@import "./vars.scss";
@import "./mixins.scss";
.page {
  width: 100%;
  height: 100vh;
}

.page__inner {
  object-fit: cover;
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  height: 1080px;
}

.page__container {
  padding: 0 240px;
  @include breakpoint($xxl) {
    padding: 0 60px;
  }
  @include breakpoint($lg) {
    padding: 0 40px;
  }
  @include breakpoint($md) {
    padding: 0 20px;
  }
}

.page__content {
  position: relative;
  height: 1080px;
}
